<% content_for :header_tags do %>
	<meta http-equiv=”X-UA-Compatible” content=”IE=10″ />
	<script type="text/javascript" src="//cdn.wwpass.com/packages/latest/wwpass.js"/>
	<%= stylesheet_link_tag 'vk', :plugin => 'wwpass_auth', :media => 'screen' %>
	<%= javascript_include_tag "wwpass_button.js", :plugin => 'wwpass_auth' %>
<% end %>

<link href="/plugin_assets/wwpass_auth/stylesheets/vk.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/plugin_assets/wwpass_auth/javascripts/wwpass_button.js" type="text/javascript"></script>

<div id="login-form">
	<table>
		<tr>
			<td align="center">
				<h3>Bind your WWPass Keyset</h3>
			</td>
		</tr>
		<tr>
			<td>
				<p><a href="#" style="margin-top:15px;" id="wwpass_button" onclick="token_auth('<%= Setting.plugin_wwpass_auth['wwpass_sp_name'] %>')" ></a></p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p id="wwp-message-header"> </p>
				<p id="wwp-message-p"> </p>
			</td>
		</tr>
	</table>
</div>

<%= form_tag('/bind/wwpass', :id => 'wwpass_form') do %>
	<input type="hidden" id="ticket" name="ticket" value=""/>
<% end %>
