<% content_for :header_tags do %>

	<script type="text/javascript" src="//cdn.wwpass.com/packages/latest/wwpass.js"/>
	<%= stylesheet_link_tag 'vk', :plugin => 'wwpass_auth' %>
	<%= javascript_include_tag 'wwpass_button.js', :plugin => 'wwpass_auth' %>
<% end %>


<p>
	<tr>
		<td>
			<label>WWPass Keyset</label>
			<b><%= link_to 'Manage', :controller => 'bind', :action => 'manage' %></b>
		</td>
	</tr>
</p>
